@font-face {
    font-family: "RecoletaAlt";
    src: url("../fonts/RecoletaAlt-Regular.ttf");
}

@font-face {
    font-family: "RecoletaAlt-bold";
    src: url("../fonts/RecoletaAlt-Bold.ttf");

}

*{
    font-family: "RecoletaAlt", serif;
}

a:hover{
    color: #4B00FF !important;
}

.hover-white:hover{
    color: white !important;
}

.font-recoletaAlt-bold{
    font-family: "RecoletaAlt-bold", serif;
}

.bg-nav{
    background-color: #0C151A;
}

.text-color{
    color: #4B00FF;
}

.bg-div-picture{
    background-color:  #4B00FF;
    transform: rotate(0.4turn);
}

.picture-rotation{
    transform: rotate(0.6turn);
}

.border-color{
    border-color: #4B00FF !important;
}

.bg-img{
    background-image: url('../images/bg-img.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 110vh;
}

.my-center{
    margin: 20vh auto;
}

.text-shadow{
    text-shadow: 2px 2px black;
}

.bg-about{
    background-color: #0C151A;
}

@media all and (max-width:900px) {
    .display-none{
        display: none !important;
    }
    .m-p-about{
        margin: 2rem 0 !important;
    }

}