@font-face {
    font-family: "RecoletaAlt";
    src: url("../fonts/RecoletaAlt-Regular.ttf");
}

@font-face {
    font-family: "RecoletaAlt-bold";
    src: url("../fonts/RecoletaAlt-Bold.ttf");

}

* {
    font-family: "RecoletaAlt", serif;
}

a:hover {
    color: #4B00FF !important;
}

.portfolio-opacity-1:hover {
    opacity: 1 !important;
}

.btn:hover {
    color: white !important;
    background-color: #4B00FF !important;
    border-color: white !important;
}

.hover-white:hover {
    color: white !important;
}

.font-recoletaAlt-bold,
h2,
h3 {
    font-family: "RecoletaAlt-bold", serif;
}

.bg-nav {
    background-color: #0C151A;
}

.text-color {
    color: #4B00FF !important;
}

.bg-color {
    background-color: #4B00FF;
}

.text-justify {
    text-align: justify;
}

.active {
    color: #4B00FF !important;
    border-bottom: solid #4B00FF;
    font-weight: bold !important;
}

.bg-div-picture {
    background-color: #4B00FF;
    transform: rotate(0.4turn);
}

.picture-rotation {
    transform: rotate(0.6turn);
}

.border-color {
    border-color: #4B00FF !important;
}

.text-shadow {
    text-shadow: 2px 2px 2px #4B00FF !important;
}

.portfolio-shadow {
    box-shadow: 2px 2px 2px #4B00FF !important;
}

.btn-shadow {
    box-shadow: 10px 10px 50px #00a6ff50 !important;
    margin: 1% 21.5vw !important;
}


.border-input {
    border-color: #00000048 !important;
    background-color: #001630 !important;
    box-shadow: 3px 3px 50px #0000002f !important;
}

::placeholder {
    color: rgba(255, 255, 255, 0.829) !important;
}

.skill-dimension {
    width: 200px;
    height: 100px;
}

.bg-img {
    background-image: url('../images/bg-img.webp');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.my-center {
    margin: 32vh auto;
}

.text-shadow-black {
    text-shadow: 2px 2px black;
}

.w-portfolio {
    width: 20em;
    height: 270px;
}

.bg-about {
    background-color: #001125 !important;
}

.bg-skills,
body {
    background-color: #000f22;
}

@media all and (max-width:900px) {
    .display-none {
        display: none !important;
    }

    .m-p-about {
        margin: 2rem 0 !important;
    }

    .d-block {
        display: block !important;
    }

    .m-skill {
        margin: auto 1rem !important;
    }

    .w-mobile {
        width: 100% !important;
    }
}

@media all and (max-width:740px) {
    .btn-shadow {
        margin: 1% 20% !important;
    }

}

@media all and (max-width:1200px) and (min-width:900px) {
    .m-skill {
        margin-right: 0 !important;
    }

}


/* Animation */


[class*="reveal-"] {
    opacity: 0 !important;
    transform: translateY(100px);
}

.reveal-visible {
    opacity: 1 !important;
    transform: translateY(0);
    transition: .7s;
}

.reveal-1 {
    transition-delay: .2s;
}

.reveal-2 {
    transition-delay: .3s;
}

.reveal-3 {
    transition-delay: .4s;
}

/* Another page */

.w-img-page {
    width: 15rem;
    height: 230px;
}

/* success notification*/

.success {
    left: 30%;
    opacity: 0 !important;
    transform: translateY(-100px);
    transition: .5s;
}

.success-show {
    opacity: 1 !important;
    transform: translateY(0);
    transition: .5s;
}